<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../githubstyles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../img/hearticon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>Angelica's Web Dev Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./tweetapp.js" defer></script>
</head>

<body>
    <!-- Header, Nav and Main tags for accessibility-->
    <!-- Bootstrap centered navbar, custom css classes are navbar and navtext-->
    <nav>

        <ul class="nav justify-content-center navbar">

            <!--Home link-->
            <li class="nav-item">
                <a class="nav-link navtext" href="https://angelicaroselie.github.io/">Home</a>
            </li>

            <!--Vanilla JS projects-->
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="dropdown-toggle nav-link navtext" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        JavaScript projects
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item"
                            href="../../vanillajsprojects/roleplaydiceroller/roleplaydiceroller.html">Roleplay dice
                            roller</a>
                        <a class="dropdown-item" href="../../vanillajsprojects/rpslsgame/rpslsgame.html">R.P.S.L.S
                            game</a>
                        <a class="dropdown-item"
                            href="../../vanillajsprojects/populationgraphs/populationgraphs.html">Population graphs</a>
                        <a class="dropdown-item"
                            href="../../vanillajsprojects/multifunctionalclock/multifunctionalclock.html">Multifunctional
                            clock</a>
                    </div>
                </div>
            </li>


            <!--Vue.js projects-->
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="dropdown-toggle nav-link navtext" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vue.js projects
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="../../vuejsprojects/tweetapp/tweetapp.html">Tweet app</a>
                        <a class="dropdown-item" href="../../vuejsprojects/ticketapp/ticketapp.html">Ticket app</a>
                        <a class="dropdown-item" href="../../vuejsprojects/surveyform/surveyform.html">Survey form</a>
                        <a class="dropdown-item" href="../../vuejsprojects/tipcalculator/tipcalculator.html">Tip
                            calculator</a>
                    </div>
                </div>
            </li>

            <!--External links-->
            <li class="nav-item">
                <a class="nav-link navtext" href="https://github.com/angelicaroselie/" target="_blank">GitHub</a>
            </li>

            <li class="nav-item">
                <a class="nav-link navtext" href="https://www.angelicaroselie.com/"
                    target="_blank">Angelicaroselie.com</a>
            </li>

            <li class="nav-item">
                <a class="nav-link navtext" href="https://www.linkedin.com/in/angelicaroselie/"
                    target="_blank">LinkedIn</a>
            </li>

        </ul>

    </nav>

    <!--Main content of the app-->
    <main>

        <!--Bootstrap container for better responsiveness-->
        <div class="container">

            <h1>Tweet app made with Vue.js</h1>

            <!--Vue app here-->
            <div id="tweetapp">

                <div class="row">

                    <div class="col-sm">

                        <!--Main container, first column-->
                        <div id="containerfortweetapp">

                            <div id="profilepage">
                                <h2>{{ username }}</h2>

                                <div class="userbio" v-if="bio">
                                    Bio: {{ bio }}
                                </div>
                                <div class="userlocation" v-if="location">
                                    Location: {{ location }}
                                </div>
                            </div>

                            <!--Displays tweets-->
                            <h2>Tweets:</h2>
                            <div class="tweets">
                                <div class="tweet" v-for="tweet in tweets">
                                    <h3>{{ username }}:</h3>
                                    <p>"{{ tweet }}"</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!--Second column for settings-->
                    <div class="col-sm">
                        <div class="tweetappsettings">
                            <h2 class="text-center">Settings</h2>

                            <div>
                                <label for="username" class="settinglabel">Username:</label>

                                <input type="text" value="username" maxlength="20" placeholder="Username"
                                    v-model.trim="username" />
                            </div>


                            <div>
                                <label for="bio" class="settinglabel">Bio:</label>

                                <textarea value="bio" placeholder="Bio" maxlength="60" v-model.trim="bio"></textarea>
                            </div>

                            <div>
                                <label for="location" class="settinglabel">Location:</label>

                                <input value="location" maxlength="30" placeholder="Location" v-model.trim="location">
                            </div>

                            <label for="tweet" class="settinglabel">New Tweet:</label>


                            <div class="new-tweet">
                                <input id="newtweet" type="text" maxlength="140" value="tweet" placeholder="New Tweet"
                                    v-model.trim="newTweet" v-on:keyup.enter="tweets.push(newTweet)" />

                            </div>

                            <h3 class="text-center"><button class="btn" id="tweetbtn"
                                    v-on:click="tweets.push(newTweet)">Add Tweet</button>
                            </h3>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </main>

    <footer class="footer">&copy; Angelica J. 2020 &#8594;</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>